
#banner {
}



#flecha_nxt {
    background: #ffff00;
}

#flecha_prev {
    background: #ffff00;
}

#first_nav {
    color: black;
    border: 1.5px solid #1E88E5;
    border-radius: 30px;
    top: 15px;
    position: center;
}

#config {
    left: 800px;
}

#banner {
    background: #FFFFFF;  /* fallback for old browsers */

}

#banner_1 {
    background: rgba(71, 204, 162, 0.97);

    border-radius: 25px;
    text-align: justify;
    color: #FFFFFF;
    left: 350px;
    height: 150px;
    width: 750px;
    font-family: Calibri;
    font-size: 500px;
}