
#contentComunicate_1 img {
    transition: width 2s, height 2s, transform 1s;
    -moz-transition: width 2s, height 2s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 1s,-o-transform 1s;
}

#contentComunicate_1:hover img {
    transform : scale(1.5);
    -moz-transform : scale(1.5);      /* Firefox */
    -webkit-transform : scale(1.5);   /* Chrome - Safari */
    -o-transform : scale(1.5);        /* Opera */

}

/*
#contentComunicate_1:hover img{
    -webkit-transform:scale(.70);
    -moz-transform:scale(.70);
    -ms-transform:scale(.70);
    -o-transform:scale(.70);
    transform:scale(.70);
}
*/
#contentComunicate_1 {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

#contentComunicate_2{
    max-width: 55%;
    max-height: 100%;
    overflow: hidden;
}


#contentJob img{
    -webkit-transition: all 2.0s ease; /* Safari y Chrome */
    -moz-transition: all 2.0s ease; /* Firefox */
    -o-transition: all 2.0s ease; /* IE 9 */
    -ms-transition: all 2.0s ease; /* Opera */
    width: 100%;
}

#img_lactajob:hover img{
    -webkit-transform: scale(3.00);
    -moz-transform: scale(3.00);
    -ms-transform: scale(3.00);
    -o-transform: scale(3.00);
    transform: scale(3.00);
}


@media screen and (max-width: 31.5em) {
    .carousel-item {
        padding: 10px 10px 100px 10px;
    }

    .carousel-item {
        width: 100%;
        min-width: 300px;
    }
}