#img_sabias :hover {
    width: 250px;
    height: 250px;
    border: 3px;
    border-radius: 50%;
}

#img_sabias1 {
    width: 250px;
    height: 250px;
    border: 3px;
}

#img_sabias2 {
    width: 250px;
    height: 250px;
    border: 3px;
}

#img_sabias {
    width: 350px;
    height: 350px;
    border: 3px;
}

#img_lactajob {
    width: 350px;
    height: 350px;
    border: 3px;
}

#img_cumple {
    width: 350px;
    height: 350px;
    border: 3px;
}

#img_recetario {
    width: 350px;
    height: 350px;
    border: 3px;
}

#img_pizza {
    width: 350px;
    height: 350px;
    border: 3px;
}

#img_fondo_esmeralda {
    width: 100px;
    height: 100px;
    bottom: -350px;
    right: -100px;
    border-radius: 15px;
}


#imgValores {
    max-width: 95%;
    max-height: 95%;
    right: -150px;
    border-radius: 15px;
    top: -100px;
}

#contentEsmeralda {
    font-size: 13px;
    left: -280px;
    bottom: -2px;
    text-align: center;
}

#contentParmalat {
    right: -150px;
    bottom: 130px;
    text-align: center;
}

#contentActual {
    right: -640px;
    bottom: 250px;
    text-align: center;
}

#2_comunicate {
    max-width: 150px;
    max-height: 150px;
}

.encima{
    position: absolute;
    font-size: 40px;
    font-family: Arial;
    color: #FFFFFF;
    top: 110px;
    left:60%;
}