body {
    margin: 0%;
    padding: 0%;
    text-align: center;
    background: #ffffff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
input {
    border: 2px solid #CCC !important;
    height: 35px;
    border-radius: 3px;
    max-width: 100%;
}

input[type="email"], input[type="password"],
input[type="text"], input[type="date"], input[type="select"] {
    outline: none;
    padding: 20px;
    display: block;
    text-align: center;
    width: 250px;
    border-radius: 3px;
    border: 1px solid #9fcdff;
    margin: 20px auto;
}

input[type="submit"] {
    padding: 10px;
    color: #ffffff;
    background: #5b9bd1;
    width: 250px;
    margin: 20px auto;
    margin-top: 0%;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5b9bd1;
}
input[type="button"]:hover{
    background-color: #0c5460;
}


header,h1{
    border-bottom: 1px solid #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

h2{
    border-bottom: 2px  #eeeeee;

    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    font-family:-apple-system;
    color: #1c92d2;
    padding-bottom: 155px;
    padding-top: 5px;
}

header a {
    text-decoration: none;
    color: #000033;

}

select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
}

.selecionar{
    display: flow-root;
    text-align: center;
    font-size: 14px;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.imagen_Index{
    margin: auto;
    display: flex;
    text-align: center;
    border: solid #6c757d;
    border-radius: 20px 20px;
}
.caja{
    margin: 25px auto;
    background-image: url("../razon.jpg");
    background-repeat:no-repeat;
    background-position:  top;
    padding: 52px 10px 30px 10px;
    display: block;
    text-align: center;
    border-radius: 50px 50px;
    border: 2px solid #1c92d2;
    width: 400px;
}
.home{
    margin: auto;
    display: block;
    width: 20px;
    text-align: left;
}
#divLogin{
    margin: 25px auto;

    background-repeat:no-repeat;
    background-position:  top;
    padding: 52px 10px 30px 10px;
    display: block;
    text-align: center;
    width: 400px;
    border-radius: 50px 50px;
}
#modalLoginForm{

}




a{
    position:center;
    text-align: center;
    text-decoration: none;

}