/*
#tarjeta_1 {
    background: #005cbf;
    border-radius: 15px;
    border: 1px solid #FFFFFF;
    align-self: center;
    color: #FFFFFF;
}

#tarjeta_2 {
    background: #34b5ff;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    color: #FFFFFF;
}

#tarjeta_3 {
    background: #005cbf;
    border-radius: 15px;
    border: 1px solid #FFFFFF;
    height: 350px;
    color: #FFFFFF;
}

#tarjeta_5 {
    background: #819dff;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    color: #FFFFFF;

}

#tarjeta_6 {
    background: #005cbf;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    color: #FFFFFF;
}

#curiosidades {
    background: #34b5ff;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    color: #FFFFFF;
    align-content: center;
}

#tarjeta_ambicion {
    background: rgba(204, 0, 153, 0.97);
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    text-align: justify;
    color: #FFFFFF;
    left: 550px;
    height: 400px;
    width: 350px;
}

#tarjeta_compromiso {
    background: #C6E377;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    text-align: justify;
    color: #FFFFFF;
    left: 550px;
    height: 400px;
    width: 350px;

}

#tarjeta_sencillez {
    background: #34b5ff;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    text-align: justify;
    color: #FFFFFF;
    left: 550px;
    height: 400px;
    width: 350px;

}

@-webkit-keyframes girando {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
    }
}

#contenedor {
    margin: 30px auto;
    -webkit-perspective: 600px;
}

#girando {
    -webkit-animation-name: girando;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-transform-style: preserve-3d;
}

#img_prueba:hover:active {
    -webkit-transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

 */
#img_logo_home {
    border-top-left-radius: 250% 250%;
    border-top-right-radius: 250% 250%;
    border-bottom-right-radius: 250% 250%;
    border-bottom-left-radius: 250% 250%;
}

#imgLogoLactalis {
    left: 350px;

}

#img_receipe.crop {
    background: no-repeat top right, -moz-linear-gradient(rgba(208, 208, 208, 1.0), rgba(255, 255, 255, 0.9) 50%, rgba(208, 208, 208, 1.0));
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    border: 1px solid rgb(239, 241, 239);
    height: 100%;
    overflow: hidden;
    position: relative;
}

#imgContact {
    left: 520px;
}

body {
    padding-top: 56px;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}


/*
#img_cumple {
    border-top-left-radius: 250% 250%;
    border-top-right-radius: 250% 250%;
    border-bottom-right-radius: 250% 250%;
    border-bottom-left-radius: 250% 250%;

}
*/

#forma_valores {
    width:350px;
    height:360px;
    border-radius:190px;
    -moz-border-radius: 160%;
    -webkit-border-radius: 160%;
    background: #FC00C8;
    top: -300px;
}

#forma_valores_compromiso {
    width:350px;
    height:360px;
    border-radius:190px;
    -moz-border-radius: 160%;
    background: #C6E377;
    top: -200px;
}

#forma_valores_sencillez {
    width:350px;
    height:360px;
    border-radius:190px;
    -moz-border-radius: 150%;
    -webkit-border-radius: 150%;
    background: #34b5ff;
    top: -300px;
}


#cont_ambicion {
    padding-top: 50px;
    text-align: center;
    font-size: 13px;
    right: 410px

}

#cont_compromiso {
    padding-top: 40px;
    text-align: center;
    font-size: 13px;
    right: 410px;
}

#cont_sencilles {
    padding-top: 50px;
    text-align: center;
    font-size: 13px;
    right: 410px;

}


#cont ul li {
    position: center;
    padding: 20px;
}

#cont ul li {
    margin-top: 30px;
}

footer#contactenos iframe {
    height: 520px;
}

footer#contactenos h4 {
    line-height: 30px;
}

footer#contactenos ol {
    position: center;
    list-style: none;
    margin: auto;
    width: 215px;
    background: silver;
    text-decoration: none;
}

footer#contactenos ol li a {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 20px 5px;
    text-align: center;
    line-height: 52px;
    color: #1E88E5;
    background: white;
    text-decoration: none;
    list-style: none;

}

footer#contactenos #formulario {
    background: #1E88E5;
    padding: 40px;
    left: 80px;

}

footer#contactenos #formulario form input {
    margin: 20px auto;
}

#contenido_acerca {
    left: 40px;
    text-align: justify;
}

#title_acerca {
    line-height: 52px;
    right: 250px;

}

#nuestros_valores {

}

#datos {
    left: 15px;
    height: 200px;
    width: 600px;

}

#contenido_1 {
    text-decoration: none;
    left: 40px;
    top: -100px;

}

#recetario {
    left: 100px;
}

#contenido_2 {
    text-decoration: none;
    left: 30px;
    top: -100px;
}

#cumple {
    left: 50px;
}

#contenido_3 {
    text-decoration: none;
    left: 60px;
    top: -80px;
}

#img_modal_3 {
    border-top-left-radius: 250% 250%;
    border-top-right-radius: 250% 250%;
    border-bottom-right-radius: 250% 250%;
    border-bottom-left-radius: 250% 250%;
}

#img_modal_4 {
    left: 30px;
}


#LactaJob {
    left: 60px;
}

#contenido_4 {
    text-decoration: none;
    left: 100px;
    top: -80px;
}

#valores {
    left: 70px;
}

#title_ambicion {
    font-size: 50px;
    font-family: Garamond;
    text-align: right;
    text-shadow: 3px 2px #4e342e;
    color: #FFFFFF;
}

